<!-- <div class="mat-display-4">login works!</div>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
  </nav> -->

  <div class="bg">
  </div>
  <div class="bg-text myFadeIn">
    <div class="mat-display-3">Login</div>
    <p class="mat-body-1">We read to know we’re not alone</p>
    <div class="fieldsDiv">
      <input type="text" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" routerLink="/dashboard" value="Login">
    </div>
    <mat-divider></mat-divider> 
  
    <label for="or">OR</label>
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a href="#" style="color:white" class="btn">Sign up</a>
        </div>
        <div class="col">
          <a href="#" style="color:white" class="btn">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>

  
  